# MTA Producer
apiVersion: apps/v1
kind: Deployment
metadata:
  name: mta-producer
  namespace: mta-project
spec:
  replicas: 1
  selector:
    matchLabels:
      app: producer
  template:
    metadata:
      labels:
        app: producer
    spec:
      containers:
      - name: producer
        image: mta-producer:v5
        imagePullPolicy: IfNotPresent
        envFrom:
        - configMapRef:
            name: mta-config
---
# Spark Streaming App
apiVersion: apps/v1
kind: Deployment
metadata:
  name: spark-streaming
  namespace: mta-project
spec:
  replicas: 1
  selector:
    matchLabels:
      app: spark-streaming
  template:
    metadata:
      labels:
        app: spark-streaming
    spec:
      containers:
      - name: spark
        image: spark-mta:latest
        imagePullPolicy: IfNotPresent
        env:
        - name: HADOOP_USER_NAME
          value: "root"
        envFrom:
        - configMapRef:
            name: mta-config
        command: 
          - "/opt/spark/bin/spark-submit"
          - "--master"
          - "local[*]"
          - "--conf"
          - "spark.driver.extraJavaOptions=-Duser.home=/tmp"
          - "--conf"
          - "spark.executor.extraJavaOptions=-Duser.home=/tmp"
          - "--jars"
          - "/opt/spark-jars/spark-sql-kafka-0-10_2.12-3.5.1.jar,/opt/spark-jars/kafka-clients-3.4.1.jar,/opt/spark-jars/spark-cassandra-connector-assembly_2.12-3.5.1.jar,/opt/spark-jars/commons-pool2-2.11.1.jar,/opt/spark-jars/spark-token-provider-kafka-0-10_2.12-3.5.1.jar"
          - "/opt/spark-apps/streaming.py"