apiVersion: v1
kind: Service
metadata:
  name: namenode-service
  namespace: mta-project
spec:
  ports:
    - port: 8020
      name: rpc
    - port: 9870
      name: http
  selector:
    app: namenode
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: hdfs-namenode
  namespace: mta-project
spec:
  replicas: 1
  selector:
    matchLabels:
      app: namenode
  template:
    metadata:
      labels:
        app: namenode
    spec:
      containers:
      - name: namenode
        image: bde2020/hadoop-namenode:2.0.0-hadoop3.2.1-java8
        env:
        - name: CLUSTER_NAME
          value: "mta-cluster"
        ports:
        - containerPort: 8020
        - containerPort: 9870